
/* LIST #2 */
#list2 { width:100%; }
#list2 ol { font-style:italic; font-family:Georgia, Times, serif; font-size:23px; color:white;  }
#list2 ol li { }
#list2 ol li p { padding:8px; font-style:normal; font-family:Arial; font-size:26px; color:white; border-left: 1px solid #999; }
#list2 ol li p em { display:block; }

h1 {
   text-align: center;
   background-color: #FF0000;
   font-size:x-large;
}

body {
    background-color: #062F4F;
}